.App {
<<<<<<< HEAD
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper{
  width: 500px;
  background-color: antiquewhite;
  color: black;
}

.movie-search{
  height: 36px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  border-radius: 11px;
  width: 450px;
}

.movie-title{
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
}
=======
    text-align: center;
  }
  
  
  .App-header {
    background-color: #282c34;
    padding-top: 50px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .tv-search{
    width: 450px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 24px;
  }
>>>>>>> 76ad55a77b60a776f88eff8fa8fe3c171da4c049
